flow.json
[{"id":"9927115c.dd7ff","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ea2d2070.d4684","type":"tab","label":"Global","disabled":false,"info":""},{"id":"21eccf7b.1b83e","type":"tab","label":"Stand 5","disabled":false,"info":""},{"id":"fd14bda2.6f1a8","type":"tab","label":"Stand 3","disabled":false,"info":""},{"id":"dad839c8.16eed8","type":"tab","label":"Stand 4","disabled":false,"info":""},{"id":"f2287390.7e1f3","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b7d9040e.b5f558","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"heater_dummy","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10443db.5445bc2","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"heater_dummy","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f32521c6.4369b","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"ventilation_dummy","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46b9d169.eadae","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"light_dummy","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cf8f3c77.8c59f","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"heater_dummy","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"daf4da77.274698","type":"ui_group","z":"","name":"Temperature","tab":"2331aac7.803a56","disp":true,"width":"6","collapse":false},{"id":"4423c23.6f5f13c","type":"ui_group","z":"","name":"White strip","tab":"2331aac7.803a56","disp":true,"width":"6","collapse":false},{"id":"f65f8051.dbb33","type":"ui_group","z":"","name":"RGB Led","tab":"2331aac7.803a56","disp":true,"width":"6","collapse":false},{"id":"b63fbc88.8eb3d","type":"ui_group","z":"","name":"RGB strip","tab":"2331aac7.803a56","disp":true,"width":"6","collapse":false},{"id":"2331aac7.803a56","type":"ui_tab","z":"","name":"Stand 5","icon":"dashboard","disabled":false,"hidden":false},{"id":"b90e5797.e6d018","type":"ui_group","z":"","name":"FAN","tab":"b490cfb0.381f2","disp":true,"width":"6","collapse":false},{"id":"99521ee7.4993b","type":"ui_group","z":"","name":"Bulb","tab":"b490cfb0.381f2","disp":true,"width":"6","collapse":false},{"id":"b98e5933.ea7238","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"heater_dummy","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b490cfb0.381f2","type":"ui_tab","z":"","name":"Stand 4","icon":"dashboard","disabled":false,"hidden":false},{"id":"76a67f38.0486e","type":"mqtt in","z":"ea2d2070.d4684","name":"","topic":"elysiumspa/#","qos":"2","datatype":"json","broker":"b7d9040e.b5f558","x":170,"y":60,"wires":[["5a84c338.9d2c8c"]]},{"id":"5a84c338.9d2c8c","type":"debug","z":"ea2d2070.d4684","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":60,"wires":[]},{"id":"1f52c156.7d837f","type":"mqtt in","z":"fd14bda2.6f1a8","name":"","topic":"esac_10_1_1_104/elysium_spa/heater/command","qos":"2","datatype":"json","broker":"10443db.5445bc2","x":220,"y":80,"wires":[["9204b989.2bc6c8"]]},{"id":"4908b622.7e0d18","type":"mqtt out","z":"fd14bda2.6f1a8","name":"","topic":"esac_10_1_1_104/elysium_spa/heater/state","qos":"","retain":"","broker":"10443db.5445bc2","x":890,"y":80,"wires":[]},{"id":"9204b989.2bc6c8","type":"function","z":"fd14bda2.6f1a8","name":"","func":"var tup = context.get('tup')+\n    ( Math.random() * (Math.random() > .5 ? 1: -1)) || 75\nvar tbottom = context.get('tbottom')+\n    ( Math.random() * (Math.random() > .5 ? 1: -1))|| 77\nvar theater = context.get('theater')+\n    ( Math.random() * (Math.random() > .5 ? 1: -1)) || 70\nvar heater = {\n    'temperature':msg.payload.heater.temperature,\n    'state':(Math.random() > .1 ? 'OFF': 'ON')\n};\nnode.warn(heater);\ncontext.set('htemp', heater.temperature);\ncontext.set('tup', tup);\ncontext.set('tbottom', tbottom);\ncontext.set('theater', theater);\nvar temperatures = {\n    'up': tup, \n    'bottom':tbottom, \n    'heater': theater};\nmsg.payload = {\n    'heater' :heater,\n    'temperatures': temperatures};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[["4908b622.7e0d18","a96918e5.218cb8"]]},{"id":"a96918e5.218cb8","type":"debug","z":"fd14bda2.6f1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":200,"wires":[]},{"id":"457dbcfc.da8254","type":"mqtt in","z":"fd14bda2.6f1a8","name":"","topic":"esac_10_1_1_101/elysium_spa/ventilation/command","qos":"2","datatype":"json","broker":"f32521c6.4369b","x":230,"y":380,"wires":[["88306bca.974be8"]]},{"id":"28425f89.84d8b","type":"mqtt out","z":"fd14bda2.6f1a8","name":"","topic":"esac_10_1_1_101/elysium_spa/ventilation/state","qos":"","retain":"","broker":"f32521c6.4369b","x":980,"y":280,"wires":[]},{"id":"88306bca.974be8","type":"function","z":"fd14bda2.6f1a8","name":"","func":"var showerswitch = context.get('showerswitch') || 'OFF'\nvar saunaswitch = context.get('saunaswitch') || 'OFF'\nvar ventilationswitch=context.get('ventilationswitch') || 'OFF'\n\n\nvar ventilation=msg.payload.ventilation;\nvar sauna = msg.payload.sauna;\nvar shower = msg.payload.shower;\nnode.warn(sauna);\nnode.warn(shower);\nif (sauna){\n        saunaswitch = sauna.switch;\n} else if(shower) {\n        showerswitch = shower.switch;\n}else {\n    ventilationswitch=ventilation.switch;\n}\nventilation={'switch':ventilationswitch,'state':(ventilationswitch === 'ON' ? 'OPENED' : 'CLOSED')};\nshower = {'switch': showerswitch};\nsauna = {'switch': saunaswitch};\n\ncontext.set('saunaswitch',saunaswitch);\ncontext.set('showerswitch',showerswitch);\ncontext.set('ventilationswitch',ventilationswitch);\n\n\nmsg.payload = {\n    'shower' :shower,\n    'ventilation':ventilation,\n    'sauna': sauna};\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["28425f89.84d8b","d1934ce3.f0be2"]]},{"id":"d1934ce3.f0be2","type":"debug","z":"fd14bda2.6f1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":400,"wires":[]},{"id":"be9107ce.a586f8","type":"mqtt in","z":"fd14bda2.6f1a8","name":"","topic":"esac_10_1_1_103/elysium_spa/lights/command","qos":"2","datatype":"json","broker":"46b9d169.eadae","x":200,"y":660,"wires":[["8dc804b5.b519a8"]]},{"id":"69f8180e.8ad0f8","type":"mqtt out","z":"fd14bda2.6f1a8","name":"","topic":"esac_10_1_1_103/elysium_spa/lights/state","qos":"","retain":"","broker":"46b9d169.eadae","x":1050,"y":620,"wires":[]},{"id":"8dc804b5.b519a8","type":"function","z":"fd14bda2.6f1a8","name":"","func":"var showerswitch = context.get('showerswitch') || 'OFF'\nvar saunaswitch = context.get('saunaswitch') || 'OFF'\nvar wshower = context.get('wshower') || 0.5\nvar wsauna = context.get('wsauna') || 0.5\n\nvar sauna = msg.payload.sauna;\nvar shower = msg.payload.shower;\nnode.warn(sauna);\nnode.warn(shower);\nif (sauna){\n    if(sauna.w){\n        wsauna = sauna.w;\n    } else {\n        saunaswitch = sauna.switch;\n    }\n} else {\n    if(shower.w){\n        wshower = shower.w;\n    } else {\n        showerswitch = shower.switch;\n    }\n}\nshower = {'switch': showerswitch,'w':wshower};\nsauna = {'switch': saunaswitch,'w':wsauna};\n\ncontext.set('saunaswitch',saunaswitch);\ncontext.set('showerswitch',showerswitch);\ncontext.set('wshower', wshower);\ncontext.set('wsauna', wsauna);\n\nmsg.payload = {\n    'shower' :shower,\n    'sauna': sauna};\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":660,"wires":[["69f8180e.8ad0f8","bb9f9abf.a448d8"]]},{"id":"bb9f9abf.a448d8","type":"debug","z":"fd14bda2.6f1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":760,"wires":[]},{"id":"54f0d246.cd3c1c","type":"inject","z":"fd14bda2.6f1a8","name":"","topic":"","payload":"{\"switches\":[\"OFF\",\"OFF\"],\"ventilation\":{\"switch\":\"OFF\",\"state\":\"CLOSED\"},\"sauna\":{\"switch\":\"OFF\",\"period\":1200},\"shower\":{\"switch\":\"OFF\",\"period\":600}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":320,"wires":[["28425f89.84d8b"]]},{"id":"6dd01485.67fa1c","type":"function","z":"fd14bda2.6f1a8","name":"","func":"var showerswitch = context.get('showerswitch') || 'OFF';\nvar saunaswitch = context.get('saunaswitch') || 'OFF';\nvar showerp = context.get('showerp') || 600;\nvar saunap = context.get('saunap') || 1200;\nif (msg.payload.sauna.switch === 'ON'){\n    context.set('saunaswitch','ON');     \n    //return {topic: saunap};\n} else if(msg.payload.shower.switch === 'ON') {\n    context.set('showerswitch','ON');     \n    return {shower: showerp};\n}else {\n    return {};\n}","outputs":1,"noerr":0,"x":470,"y":240,"wires":[[]]},{"id":"9c461612.f44f88","type":"mqtt in","z":"dad839c8.16eed8","name":"","topic":"lightstand_ecfabc20ff13/light/whitestrip/state","qos":"2","datatype":"json","broker":"cf8f3c77.8c59f","x":210,"y":140,"wires":[["8fdac86d.84c6f8","4b3ffefc.8e933"]]},{"id":"8dc8f70.4dfbb08","type":"mqtt in","z":"dad839c8.16eed8","name":"","topic":"lightstand_ecfabc20ff13/light/rgbstrip/state","qos":"2","datatype":"json","broker":"cf8f3c77.8c59f","x":180,"y":440,"wires":[["73ed453d.8bc24c","f6094a3.9a17bb8","dc54005b.d620f","b8918e8f.a2057"]]},{"id":"d235288d.8dc248","type":"mqtt in","z":"dad839c8.16eed8","name":"","topic":"lightstand_ecfabc20ff13/light/rgbled/state","qos":"2","datatype":"json","broker":"cf8f3c77.8c59f","x":220,"y":840,"wires":[["585bc29f.9f744c","706345f4.875e6c","48364989.3bfc38","18f432fe.9e9cbd"]]},{"id":"830b10b4.42a91","type":"mqtt in","z":"dad839c8.16eed8","name":"","topic":"lightstand_ecfabc20ff13/sensor/temp/state","qos":"2","datatype":"json","broker":"cf8f3c77.8c59f","x":200,"y":620,"wires":[["aaed1fe5.06008","186089a0.292a66","204a0966.f54fa6"]]},{"id":"e783336d.92c4a","type":"mqtt out","z":"dad839c8.16eed8","name":"","topic":"lightstand_ecfabc20ff13/light/whitestrip/command","qos":"","retain":"","broker":"cf8f3c77.8c59f","x":1190,"y":120,"wires":[]},{"id":"17cea6e7.759fd9","type":"mqtt out","z":"dad839c8.16eed8","name":"","topic":"lightstand_ecfabc20ff13/light/rgbstrip/command","qos":"","retain":"","broker":"cf8f3c77.8c59f","x":1460,"y":400,"wires":[]},{"id":"ee87e2.45e6082","type":"mqtt out","z":"dad839c8.16eed8","name":"","topic":"lightstand_ecfabc20ff13/light/rgbled/command","qos":"","retain":"","broker":"cf8f3c77.8c59f","x":1360,"y":840,"wires":[]},{"id":"585bc29f.9f744c","type":"debug","z":"dad839c8.16eed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":760,"wires":[]},{"id":"aaed1fe5.06008","type":"ui_gauge","z":"dad839c8.16eed8","name":"","group":"daf4da77.274698","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":580,"wires":[]},{"id":"13bddbc3.0341b4","type":"ui_slider","z":"dad839c8.16eed8","name":"","label":"slider","tooltip":"","group":"4423c23.6f5f13c","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":710,"y":80,"wires":[["b909c44b.242a18"]]},{"id":"8fdac86d.84c6f8","type":"function","z":"dad839c8.16eed8","name":"Brightness unformat","func":"return { payload: msg.payload.brightness };","outputs":1,"noerr":0,"x":540,"y":80,"wires":[["13bddbc3.0341b4"]]},{"id":"b909c44b.242a18","type":"function","z":"dad839c8.16eed8","name":"Brightness format","func":"return { payload: { brightness: msg.payload }};","outputs":1,"noerr":0,"x":890,"y":80,"wires":[["e783336d.92c4a","c94e0586.fe5238"]]},{"id":"4b3ffefc.8e933","type":"function","z":"dad839c8.16eed8","name":"State unformat","func":"return { payload: msg.payload.state == \"ON\" };","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["eb89a233.94397"]]},{"id":"eb89a233.94397","type":"ui_switch","z":"dad839c8.16eed8","name":"","label":"switch","tooltip":"","group":"4423c23.6f5f13c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":140,"wires":[["f7431aaf.f2e8e8"]]},{"id":"f7431aaf.f2e8e8","type":"function","z":"dad839c8.16eed8","name":"State format","func":"return { payload: { state: msg.payload ? \"ON\" : \"OFF\" } };","outputs":1,"noerr":0,"x":870,"y":140,"wires":[["e783336d.92c4a","c94e0586.fe5238"]]},{"id":"916cd31b.bb5ee","type":"debug","z":"dad839c8.16eed8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":740,"wires":[]},{"id":"18f432fe.9e9cbd","type":"function","z":"dad839c8.16eed8","name":"Brightness unformat","func":"return { payload: msg.payload.brightness };","outputs":1,"noerr":0,"x":540,"y":920,"wires":[["e306fc26.52208"]]},{"id":"706345f4.875e6c","type":"function","z":"dad839c8.16eed8","name":"Color unformat","func":"return { payload: msg.payload.color };","outputs":1,"noerr":0,"x":540,"y":820,"wires":[["916cd31b.bb5ee","6cd81626.f1e508"]]},{"id":"f69b153c.2211a8","type":"ui_button","z":"dad839c8.16eed8","name":"","group":"f65f8051.dbb33","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"rgb(255,0,0)","icon":"","payload":"{\"color\":{\"r\":255,\"g\":0,\"b\":0}}","payloadType":"json","topic":"","x":850,"y":840,"wires":[["ee87e2.45e6082","97fea0d4.2f884"]]},{"id":"87552403.d319e8","type":"ui_button","z":"dad839c8.16eed8","name":"","group":"f65f8051.dbb33","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"rgb(0,255,0)","icon":"","payload":"{\"color\":{\"r\":0,\"g\":255,\"b\":0}}","payloadType":"json","topic":"","x":850,"y":760,"wires":[["ee87e2.45e6082"]]},{"id":"b2132f6.d354dd","type":"ui_button","z":"dad839c8.16eed8","name":"","group":"f65f8051.dbb33","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"rgb(0,0,255)","icon":"","payload":"{\"color\":{\"r\":0,\"g\":0,\"b\":255}}","payloadType":"json","topic":"","x":850,"y":800,"wires":[["ee87e2.45e6082"]]},{"id":"48364989.3bfc38","type":"function","z":"dad839c8.16eed8","name":"State unformat","func":"return { payload: msg.payload.state == \"ON\" };","outputs":1,"noerr":0,"x":540,"y":980,"wires":[["13e048a2.da4437"]]},{"id":"13e048a2.da4437","type":"ui_switch","z":"dad839c8.16eed8","name":"","label":"switch","tooltip":"","group":"f65f8051.dbb33","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":980,"wires":[["e3fc5f70.70eb"]]},{"id":"e3fc5f70.70eb","type":"function","z":"dad839c8.16eed8","name":"State format","func":"return { payload: { state: msg.payload ? \"ON\" : \"OFF\" } };","outputs":1,"noerr":0,"x":910,"y":980,"wires":[["ee87e2.45e6082","97fea0d4.2f884"]]},{"id":"e306fc26.52208","type":"ui_slider","z":"dad839c8.16eed8","name":"","label":"slider","tooltip":"","group":"f65f8051.dbb33","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":730,"y":920,"wires":[["e94181d.cee1f8"]]},{"id":"e94181d.cee1f8","type":"function","z":"dad839c8.16eed8","name":"Brightness format","func":"return { payload: { brightness: msg.payload }};","outputs":1,"noerr":0,"x":930,"y":920,"wires":[["ee87e2.45e6082","97fea0d4.2f884"]]},{"id":"73ed453d.8bc24c","type":"debug","z":"dad839c8.16eed8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":280,"wires":[]},{"id":"826007fe.b068e8","type":"debug","z":"dad839c8.16eed8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":280,"wires":[]},{"id":"dc54005b.d620f","type":"function","z":"dad839c8.16eed8","name":"Brightness unformat","func":"return { payload: msg.payload.brightness };","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["39ca42be.50edce"]]},{"id":"f6094a3.9a17bb8","type":"function","z":"dad839c8.16eed8","name":"Color unformat","func":"return { payload: msg.payload.color };","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["826007fe.b068e8","66f5c68d.135548"]]},{"id":"145af18f.c7bede","type":"ui_button","z":"dad839c8.16eed8","name":"","group":"b63fbc88.8eb3d","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"rgb(255,0,0)","icon":"","payload":"{\"color\":{\"r\":255,\"g\":0,\"b\":0}}","payloadType":"json","topic":"","x":850,"y":380,"wires":[["17cea6e7.759fd9","37531926.535dd6"]]},{"id":"b1282b54.735f98","type":"ui_button","z":"dad839c8.16eed8","name":"","group":"b63fbc88.8eb3d","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"rgb(0,255,0)","icon":"","payload":"{\"color\":{\"r\":0,\"g\":255,\"b\":0}}","payloadType":"json","topic":"","x":850,"y":300,"wires":[["17cea6e7.759fd9"]]},{"id":"4e1491d7.7e1ea","type":"ui_button","z":"dad839c8.16eed8","name":"","group":"b63fbc88.8eb3d","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"rgb(0,0,255)","icon":"","payload":"{\"color\":{\"r\":0,\"g\":0,\"b\":255}}","payloadType":"json","topic":"","x":850,"y":340,"wires":[["17cea6e7.759fd9"]]},{"id":"b8918e8f.a2057","type":"function","z":"dad839c8.16eed8","name":"State unformat","func":"return { payload: msg.payload.state == \"ON\" };","outputs":1,"noerr":0,"x":540,"y":520,"wires":[["a85c8abe.0b8088"]]},{"id":"a85c8abe.0b8088","type":"ui_switch","z":"dad839c8.16eed8","name":"","label":"switch","tooltip":"","group":"b63fbc88.8eb3d","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":520,"wires":[["cf53a7bf.6e03d8"]]},{"id":"cf53a7bf.6e03d8","type":"function","z":"dad839c8.16eed8","name":"State format","func":"return { payload: { state: msg.payload ? \"ON\" : \"OFF\" } };","outputs":1,"noerr":0,"x":910,"y":520,"wires":[["17cea6e7.759fd9","37531926.535dd6"]]},{"id":"39ca42be.50edce","type":"ui_slider","z":"dad839c8.16eed8","name":"","label":"slider","tooltip":"","group":"b63fbc88.8eb3d","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":730,"y":460,"wires":[["1902b1e0.1d5c7e"]]},{"id":"1902b1e0.1d5c7e","type":"function","z":"dad839c8.16eed8","name":"Brightness format","func":"return { payload: { brightness: msg.payload }};","outputs":1,"noerr":0,"x":930,"y":460,"wires":[["17cea6e7.759fd9","37531926.535dd6"]]},{"id":"66f5c68d.135548","type":"ui_colour_picker","z":"dad839c8.16eed8","name":"","label":"","group":"b63fbc88.8eb3d","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":710,"y":400,"wires":[[]]},{"id":"6cd81626.f1e508","type":"ui_colour_picker","z":"dad839c8.16eed8","name":"","label":"","group":"f65f8051.dbb33","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":690,"y":860,"wires":[[]]},{"id":"c94e0586.fe5238","type":"debug","z":"dad839c8.16eed8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":220,"wires":[]},{"id":"37531926.535dd6","type":"debug","z":"dad839c8.16eed8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":520,"wires":[]},{"id":"97fea0d4.2f884","type":"debug","z":"dad839c8.16eed8","name":"hbv hb","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":960,"wires":[]},{"id":"403e87c1.e69df8","type":"mqtt out","z":"dad839c8.16eed8","name":"","topic":"lightstand_ecfabc20ff13/light/rgbled/command","qos":"","retain":"","broker":"cf8f3c77.8c59f","x":900,"y":620,"wires":[]},{"id":"186089a0.292a66","type":"function","z":"dad839c8.16eed8","name":"Color picking","func":"var red=[255,0,0];\nvar yellow=[255,255,0];\nvar green=[0,255,0];\nvar temperature=msg.payload;\n\n switch (true) {\n    case (temperature <28):\n        msg.payload={\"color\":{\"r\":0,\"g\":0,\"b\":255}};\n        break;\n    case (temperature >28 && temperature<30):\n        msg.payload={\"color\":{\"r\":0,\"g\":255,\"b\":0}};\n        break;\n    case (temperature>30):\n        msg.payload={\"color\":{\"r\":255,\"g\":0,\"b\":0}};\n        break;\n  \n}\n    \n  //  if(temperature<30)  msg.payload={\"color\":{\"r\":0,\"g\":255,\"b\":0}};\n\n return msg;\n","outputs":1,"noerr":0,"x":550,"y":640,"wires":[["8b2005a7.712f98","403e87c1.e69df8"]]},{"id":"8b2005a7.712f98","type":"debug","z":"dad839c8.16eed8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":580,"wires":[]},{"id":"204a0966.f54fa6","type":"debug","z":"dad839c8.16eed8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":720,"wires":[]},{"id":"bf55ec28.c014b","type":"inject","z":"dad839c8.16eed8","name":"","topic":"","payload":"{\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":1100,"wires":[["ee87e2.45e6082","97fea0d4.2f884"]]},{"id":"23a7d57a.4d574a","type":"trigger","z":"dad839c8.16eed8","op1":"{\"state\":\"ON\"}","op2":"0","op1type":"json","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":840,"y":1200,"wires":[[]]},{"id":"668ad656.e7d648","type":"ui_switch","z":"21eccf7b.1b83e","name":"","label":"switch","tooltip":"","group":"b90e5797.e6d018","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":670,"y":160,"wires":[["2d0dc6a7.cf2a3a"]]},{"id":"d15d7606.bcb058","type":"ui_switch","z":"21eccf7b.1b83e","name":"","label":"switch","tooltip":"","group":"99521ee7.4993b","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":240,"wires":[["ce47271c.c09a18"]]},{"id":"c34180e9.69b54","type":"mqtt in","z":"21eccf7b.1b83e","name":"","topic":"relaystand_dc4f221da4a9/switch/fanswitch/state","qos":"2","datatype":"utf8","broker":"b98e5933.ea7238","x":200,"y":160,"wires":[["47886fa7.add63","1a82224d.a723be"]]},{"id":"135ec603.7114da","type":"mqtt in","z":"21eccf7b.1b83e","name":"","topic":"relaystand_dc4f221da4a9/switch/bulbswitch/state","qos":"2","datatype":"utf8","broker":"b98e5933.ea7238","x":200,"y":240,"wires":[["7b6a8177.221a7","87ac4caf.df184"]]},{"id":"87ac4caf.df184","type":"function","z":"21eccf7b.1b83e","name":"Switch unformat","func":"return { payload: msg.payload == \"ON\" };","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["d15d7606.bcb058"]]},{"id":"47886fa7.add63","type":"debug","z":"21eccf7b.1b83e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":60,"wires":[]},{"id":"7b6a8177.221a7","type":"debug","z":"21eccf7b.1b83e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":340,"wires":[]},{"id":"1a82224d.a723be","type":"function","z":"21eccf7b.1b83e","name":"Switch unformat","func":"return { payload: msg.payload == \"ON\" };","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["668ad656.e7d648"]]},{"id":"f034b523.c81918","type":"mqtt out","z":"21eccf7b.1b83e","name":"","topic":"relaystand_dc4f221da4a9/switch/bulbswitch/command","qos":"","retain":"","broker":"b98e5933.ea7238","x":1150,"y":240,"wires":[]},{"id":"b034c2b5.540cb","type":"mqtt out","z":"21eccf7b.1b83e","name":"","topic":"relaystand_dc4f221da4a9/switch/fanswitch/command","qos":"","retain":"false","broker":"b98e5933.ea7238","x":1130,"y":160,"wires":[]},{"id":"ce47271c.c09a18","type":"function","z":"21eccf7b.1b83e","name":"State format","func":"return { payload: msg.payload ? \"ON\" : \"OFF\" };","outputs":1,"noerr":0,"x":830,"y":240,"wires":[["f034b523.c81918","67b28c2e.d3b4d4"]]},{"id":"2d0dc6a7.cf2a3a","type":"function","z":"21eccf7b.1b83e","name":"State format","func":"return { payload: msg.payload ? \"ON\" : \"OFF\" };","outputs":1,"noerr":0,"x":830,"y":160,"wires":[["b034c2b5.540cb","5da2c17e.73001"]]},{"id":"5da2c17e.73001","type":"debug","z":"21eccf7b.1b83e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":80,"wires":[]},{"id":"67b28c2e.d3b4d4","type":"debug","z":"21eccf7b.1b83e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":360,"wires":[]},{"id":"d99b5bc0.c5fd08","type":"trigger","z":"f2287390.7e1f3","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"-1250","extend":false,"units":"ms","reset":"10","bytopic":"all","name":"","x":520,"y":380,"wires":[["4d635ebe.bc862"]]},{"id":"4d635ebe.bc862","type":"function","z":"f2287390.7e1f3","name":"","func":"value= context.get('count') || 0;\nvalue++;\ncontext.set('count',value);\nreturn {payload:value};","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["d99b5bc0.c5fd08","bb43348a.f25778"]]},{"id":"b376d84f.69b7d8","type":"inject","z":"f2287390.7e1f3","name":"","topic":"","payload":"count","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":240,"wires":[["4d635ebe.bc862"]]},{"id":"bb43348a.f25778","type":"debug","z":"f2287390.7e1f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":240,"wires":[]}]